# Build and cache
node_modules
.vite
*.log
.eslintcache

# SvelteKit
apps/web/.svelte-kit
apps/web/build
apps/email-preview/.svelte-kit

# Server
apps/api/dist/
apps/api/storage/

# Environment variables
.env
.env.*
!.env.example

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode
.idea

# Misc
.netlify
