# SvelteKit/Node build and cache
.svelte-kit
build
node_modules
.vite

# Environment variables
.env
.env.*
!.env.example

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode
.idea

# Optional: Output of build
*.log
.eslintcache
.netlify
