@import "tailwindcss";
@import "@skeletonlabs/skeleton";
@import "./themes/custom-theme.css";

[data-scope="navigation"][data-part="root"][data-layout="sidebar"] {
	display: flex;
	flex-direction: column;
	width: 200px;
	flex-shrink: 0;
	background: var(--color-surface-50);
	border-right: 1px solid var(--color-surface-200);
	box-shadow: none;
}

[data-scope="navigation"][data-part="content"][data-layout="sidebar"] {
	flex: 1;
	overflow-y: auto;
}
