@import "tailwindcss";
@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton/themes/hamlindigo";

[data-scope="navigation"][data-part="root"][data-layout="sidebar"] {
	display: flex;
	flex-direction: column;
	box-shadow: 2px 0 8px rgb(0 0 0 / 0.08);
	background: var(--color-surface-100);
}

[data-scope="navigation"][data-part="content"][data-layout="sidebar"] {
	flex: 1;
	overflow-y: auto;
}
